body {
   
    background-image: url("WallpaperDog-17056595.jpg");
}
.Head{
    height: 180px;
background-color: #C1C1C1;
opacity: 75%;
    border-radius: 2ppx;
    box-shadow: 2px 2px 5px rgb(223, 92, 92);
   
}

#logo{
    height: 100px;

}

#login-area {
    margin-top: 40px;
    
}

.submit-area{
   
    top:50%;
    left:33%;
    right:0;
    bottom:0;
    position: absolute;
    height: 250px;
    width:500px;
    padding: 20px;
    flex-direction: column;
    display: flex;

    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(177, 86, 86) ;
    
    
}

.text-center{
    text-align: center;
   
    font-weight: bold;
    color:rgb(7, 78, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#trans-area{
    
    display:none;
   ;
}

.color{
  margin-top: 20px;
    color:white;
    padding:20px;
    border-radius: 10px;
    text-align: center;
}
.deposite{
    background-color: rgb(43, 156, 62);
}.withdraw{
    background-color: rgb(192, 48, 72);
}.balance{
    background-color: rgb(31, 74, 192);
}

.submit-area2 {
  
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px ;
    
    display: inline-block;
    text-align: center;
}


.transHistory{
   
    padding: 40px;
    border-radius: 3px;
    box-shadow: 1px 2px 0px ;  
    float: right;
    text-align: justify;
    
}
